<%- include('head.ejs') %>
<div class="dashboard">
    <span class="admin_logo"><i class="fas fa-laugh-wink"></i></span>
    <!-- <img class="admin_logo" src="images/admin.png" alt=""> -->
    <br><br><br>
    <a onclick="page_click('page')" class="admin_button"><span class="admin_icon"><i class="fas fa-fw fa-folder"></i></span><br>PAGES</a>
    <a class="admin_button" href=""><span class="admin_icon"><i class="fas fa-shopping-cart"></i></span><br>ORDERS</a>
    <a class="admin_button" href=""><span class="admin_icon"><i class="fas fa-user"></i></span><br>USERS</a>
    <a class="admin_button" href=""><span class="admin_icon"><i class="fab fa-dropbox"></i></span><br>PRODUCT</a>
    <a class="admin_button" href=""><span class="admin_icon"><i class="fas fa-cog"></i></span><br>SETTINGS</a>
    
</div>
<header>
    
    <div class="admin_search">
        <input class="search_input" placeholder="Search ..." type="text">
    <span class="admin_search_icon"><i class="fas fa-search fa-sm"></i></span>
    </div>
    <span class="admin_notification_icon"><i class="fas fa-bell fa-fw"></i></span>
    <span class="admin_message_icon"><i class="fas fa-envelope-open"></i></span>
    <span class="admin_logo_icon"><i class="fas fa-user-md"></i></span>
</header>
<div onclick="content_click('page')"  class="content">
    
    <p class="welcome_text">WELCOME ADMIN_NAME !</p>
    <div class="page_bar">
        <a>HOME</a>
        <a>ABOUT</a>
        <a>SALE</a>
        <a>+</a>

    </div>
    <div class="content_flex">
        <div class="content_left_flex">
            <div class="admin_content_left_divs">
                <p class="div_header_text">MESSAGE (5)</p><br>
                <p style="cursor: pointer;"><span class="user_logo"><i class="fas fa-user"></i></span> babayeff.042 den <a style="color:red">mesaj</a> var!</p><br>
                <p style="cursor: pointer;"><span class="user_logo"><i class="fas fa-user"></i></span> faiqalizade den <a style="color:red">mesaj</a> var!</p><br>
                <p style="cursor: pointer;"><span class="user_logo"><i class="fas fa-user"></i></span> cemilealizade den <a style="color:red">mesaj</a> var!</p><br>
                <p style="cursor: pointer;"><span class="user_logo"><i class="fas fa-user"></i></span> risane.042 den <a style="color:red">mesaj</a> var!</p><br>
                <p style="cursor: pointer;"><span class="user_logo"><i class="fas fa-user"></i></span> cemilaliyeff.042 den <a style="color:red">mesaj</a>  var!</p><br>
            </div><br>
            <div class="admin_content_left_divs">
                <p class="div_header_text">REQUEST</p><br>
                <p style="cursor: pointer;"><span class="user_logo"><i class="fas fa-user"></i></span> babayeff.042 den <a style="color:red">mesaj</a> var!</p><br>
                <p style="cursor: pointer;"><span class="user_logo"><i class="fas fa-user"></i></span> faiqalizade den <a style="color:red">mesaj</a> var!</p><br>
                <p style="cursor: pointer;"><span class="user_logo"><i class="fas fa-user"></i></span> cemilealizade den <a style="color:red">mesaj</a> var!</p><br>
                <p style="cursor: pointer;"><span class="user_logo"><i class="fas fa-user"></i></span> risane.042 den <a style="color:red">mesaj</a> var!</p><br>
                <p style="cursor: pointer;"><span class="user_logo"><i class="fas fa-user"></i></span> cemilaliyeff.042 den <a style="color:red">mesaj</a>  var!</p><br>
            </div>
            
        </div>
        <div class="orders__div">
            <p class="div_header_text">ORDERS</p>
            <div class="admin_orders_content">
                <div class="admin_orders">
                    <img src="images/eponaimg2.jpg" class="orders_img" alt="">
                    <p>1(<b style="color: red;">X</b>)</p>
                </div>
                <div class="admin_orders">
                    <img src="images/eponaimg2.jpg" class="orders_img" alt="">
                    <p>1(<b style="color: red;">X</b>)</p>
                </div>
                <div class="admin_orders">
                    <img src="images/eponaimg2.jpg" class="orders_img" alt="">
                    <p>1(<b style="color: red;">X</b>)</p>
                </div>
                <div class="admin_orders">
                    <img src="images/eponaimg2.jpg" class="orders_img" alt="">
                    <p>1(<b style="color: red;">X</b>)</p>
                </div>
                <div class="admin_orders">
                    <img src="images/eponaimg2.jpg" class="orders_img" alt="">
                    <p>1(<b style="color: red;">X</b>)</p>
                </div>
                <div class="admin_orders">
                    <img src="images/eponaimg2.jpg" class="orders_img" alt="">
                    <p>1(<b style="color: red;">X</b>)</p>
                </div>
                
            </div>
            <div class="admin_orders_content">
                <div class="admin_orders">
                    <img src="images/eponaimg2.jpg" class="orders_img" alt="">
                    <p>1(<b style="color: red;">X</b>)</p>
                </div>
                <div class="admin_orders">
                    <img src="images/eponaimg2.jpg" class="orders_img" alt="">
                    <p>1(<b style="color: red;">X</b>)</p>
                </div>
                <div class="admin_orders">
                    <img src="images/eponaimg2.jpg" class="orders_img" alt="">
                    <p>1(<b style="color: red;">X</b>)</p>
                </div>
                <div class="admin_orders">
                    <img src="images/eponaimg2.jpg" class="orders_img" alt="">
                    <p>1(<b style="color: red;">X</b>)</p>
                </div>
                <div class="admin_orders">
                    <img src="images/eponaimg2.jpg" class="orders_img" alt="">
                    <p>1(<b style="color: red;">X</b>)</p>
                </div>
                <div class="admin_orders">
                    <img src="images/eponaimg2.jpg" class="orders_img" alt="">
                    <p>1(<b style="color: red;">X</b>)</p>
                </div>
                
            </div>
            <div class="admin_orders_content">
                <div class="admin_orders">
                    <img src="images/eponaimg2.jpg" class="orders_img" alt="">
                    <p>1(<b style="color: red;">X</b>)</p>
                </div>
                <div class="admin_orders">
                    <img src="images/eponaimg2.jpg" class="orders_img" alt="">
                    <p>1(<b style="color: red;">X</b>)</p>
                </div>
                <div class="admin_orders">
                    <img src="images/eponaimg2.jpg" class="orders_img" alt="">
                    <p>1(<b style="color: red;">X</b>)</p>
                </div>
                <div class="admin_orders">
                    <img src="images/eponaimg2.jpg" class="orders_img" alt="">
                    <p>1(<b style="color: red;">X</b>)</p>
                </div>
                <div class="admin_orders">
                    <img src="images/eponaimg2.jpg" class="orders_img" alt="">
                    <p>1(<b style="color: red;">X</b>)</p>
                </div>
                <div class="admin_orders">
                    <img src="images/eponaimg2.jpg" class="orders_img" alt="">
                    <p>1(<b style="color: red;">X</b>)</p>
                </div>
                
            </div>
            
        </div>
    </div>
    <script>
        $('.page_bar').hide(0);
         var i = 0;
     function page_click(name) {
        if(i==0){
            $('.'+name+'_bar').fadeIn(500);
            i = 1;
        }else{
            $('.page_bar').fadeOut(300);
            i = 0;
        }
        
     }
     function content_click(name) {
        if(i==1){
            $('.'+name+'_bar').fadeOut(300);
            i = 0;
        }
        
     }
     
    </script>
</div>