<%- include('head.ejs') %>

<div class="adminWrapper">
    <%- include('sidebar.ejs') %>
    <div class="adminCol adminContent">
        <header>
            <div class="admin_search">
                <input class="search_input" placeholder="Search ..." type="text">
                <span class="admin_search_icon"><i class="fas fa-search fa-sm"></i></span>
            </div>
            <span class="admin_notification_icon"><i class="fas fa-bell fa-fw"></i></span>
            <span class="admin_message_icon"><i class="fas fa-envelope-open"></i></span>
            <span class="admin_logo_icon"><i class="fas fa-user-md"></i></span>
        </header>
        <div class="mainContent">
            asd
        </div>
    </div>
</div>