<div class="adminSidebar adminCol">
    <div class="sidebarLogo">
        <a class="sidebarMenuItemAnchor" href="/admin">
            <img src="/images/logo e white_1.svg" />
        </a>
    </div>
    <div class="sidebarContent">
        <div class="sidebarMenuItem">
            <a class="sidebarMenuItemAnchor" href="/admin">
                <i class="far fa-window-maximize"></i>
                <span class="sidebarMenuItemTitle">
                    Dashboard
                </span>
            </a>
        </div>
        <div class="sidebarMenuItem">
            <a class="sidebarMenuItemAnchor" href="/admin/orders">
                <i class="fas fa-shopping-cart"></i>
                <span class="sidebarMenuItemTitle">
                    ORDERS
                </span>
            </a>
        </div>

        <div class="sidebarMenuItem">
            <a class="sidebarMenuItemAnchor" href="/admin/users">
                <i class="fas fa-user-friends"></i>
                <span class="sidebarMenuItemTitle">
                    USERS
                </span>
            </a>
        </div>

        <div class="sidebarMenuItem">
            <a class="sidebarMenuItemAnchor" href="/admin/products">
                <i class="fas fa-boxes-alt"></i>
            <span class="sidebarMenuItemTitle">
                PRODUCTS
            </span>
            </a>
            <div class="sidebarDropdownMenu">
                <a href="#" class="sidebarDropdownMenuItem">
                    All products
                </a>
                <a href="#" class="sidebarDropdownMenuItem">
                    Collections
                </a>
                <a href="/admin/categories" class="sidebarDropdownMenuItem">
                    Categories
                </a>
                <a href="#" class="sidebarDropdownMenuItem">
                    Add new
                </a>
            </div>
        </div>
        <div class="sidebarMenuItem">
            <a class="sidebarMenuItemAnchor" href="/admin/pages">
                <i class="fas fa-file"></i>
                <span class="sidebarMenuItemTitle">
                    PAGES
                </span>
            </a>
        </div>
    </div>
</div>