<%- include('layouts/head.ejs')%>
<div class="about">
    <p class="about_header pageHeader">
        About US
    </p>
    <p class="about_companyName">EPONA</p>
    <p>Designer clothing</p>
    <p>Individual tailoring</p>

    <div class='about_contacts' >
        <p class="about_contactsHeader">Contact</p>
        <p><strong>Address:</strong> Bashir Safar-oghlu st., 5</p>
        <p><strong>Tel:</strong> <a href='tel:+994513688889'>+994 (51)-368-88-89</a>(WhatsApp)</p>
        <p><strong>Email:</strong> <a href='mailto:faiq.alizade.00@mail.ru'>faiq.alizade.00@mail.ru</a></p>
        <p><strong>Instagram:</strong> <a target="blank" href='https://www.instagram.com/epona.official/'>@epona.official</a></p>
        <p><strong>Facebook:</strong> <a target="blank" href='https://www.facebook.com/EPONA-119137666148198/'>EPONA</a></p>
    </div>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta, dolores! Hic laudantium amet iure quia ullam, vero repellendus cupiditate cum soluta? Id incidunt quas magnam qui voluptate eligendi quaerat libero?
    Hic neque, optio necessitatibus deserunt labore unde consequatur illo repellendus, et quisquam vero sequi ab. Sit omnis vel cupiditate, aliquam accusantium nobis officia qui mollitia temporibus id, facere, laborum in?
    Maiores, saepe? Iure labore, inventore omnis ducimus dolor quae ratione maxime sequi, aperiam officiis deserunt minima sapiente nemo fugit nam, repellat quia! Praesentium deleniti, eveniet debitis aut sint odio ducimus.
    Maxime, neque suscipit. Veniam nesciunt et veritatis, nostrum adipisci quo delectus repudiandae perferendis ex harum id tempora corporis distinctio non qui quisquam soluta? Consequatur veritatis, adipisci quas libero nemo provident!
    Aliquid inventore delectus iure facere officiis magni numquam illo ex ipsam cupiditate, quae earum veritatis fugit eveniet maiores totam consectetur eligendi reprehenderit facilis impedit. Nobis quam et corporis laboriosam necessitatibus?</p>
</div>
<%- include('layouts/footer.ejs')%>