<%- include('layouts/head.ejs')%>
<div class="mainContent">
        <div class="mainContent_mainImage">
                <p class="">Happy New Year</p>
        </div>
        <p class="mainContent_text">OUTDOOR ADVENTURE, URBAN EXPLORATION, AND INNOVATIVE DESIGN</p>
        <div class="mainContent_image_divMan">
                <div class="image_div">
                        <div class="mainContent_mainImage_man">
                                <p class="main_content_image_text">MAN</p>
                        </div>
                </div>
                <div class="image_div">
                        <div class="mainContent_mainImage_woman">
                                <p class="main_content_image_text">WOMAN</p>
                        </div>
                </div>
        </div>
        <div class="mainContent_imageCont_div">
                <div class="mainContent_mainImageCont">
                        <p class="">On Location</p>
                </div>
        </div>
        <div class="mainContent_textdiv">
                <p class="mainContent_text">ON LOCATION IN SMITH CABIN ASPEN</p>
                <p class="mainContent_text2">Located deep on the backside of Aspen Mountain just above 11,000 feet is the Smith Cabin, a private residence named for the local Aspen family who owns it. This past winter, we gathered a group of winter enthusiasts and our Fall/Winter 2019-20 snow pieces—including our first-ever Gore snow styles—and made the several-mile backcountry trek to the cabin …</p>
                <button class="mainContent_button">VIEW PHOTO</button>
        </div>
        <div class="mainContent_image_divMan">
                <div class="image_div">
                        <div class="mainContent_mainImage_ep">
                                <p class="main_content_image_text">MAN</p>
                        </div>
                </div>
                <div class="image_div">
                        <div class="mainContent_mainImage_ep2">
                                <p class="main_content_image_text">WOMAN</p>
                        </div>
                </div>
        </div>
        
        <div class="mainContent_image_div3">
                <div class="mainContent_mainImage_ep3">
                        <!-- <p class="">Happy New Year</p> -->
                </div>
        </div>
        <div class="mainContent_image_divMan">
                <div class="image_div">
                        <div class="mainContent_mainImage_ep4">
                                <p class="main_content_image_text">MAN</p>
                        </div>
                </div>
                <div class="image_div">
                        <div class="mainContent_mainImage_ep5">
                                <p class="main_content_image_text">WOMAN</p>
                        </div>
                </div>
        </div>
        <br><br>
</div>
<%- include('layouts/footer.ejs')%>