<%- include('layouts/head.ejs')%>
<div class="mainContent">
        <div class="mainContent_mainImage">
                <p class="">Happy New Year</p>
        </div>
</div>
<%- include('layouts/footer.ejs')%>