<div class="cartBackground">
</div>
<div class="cartWrapper">
    <div class="cartContent">
        <div class="cartHeader">
            <div class="cartHeader_column">

            </div>
            <div class="cartHeader_text cartHeader_column">
                CART(1)
            </div>
            <div class="cartHeader_button cartHeader_column">
                <span class="cartButton__size cartButton">
                    <i class="fal fa-arrow-right"></i>
                </span>
            </div>
        </div>

        <div class="cartList">
            <div class="cartListItem">
                <div class="cartListItem_imgCol">
                    <div class="cartListItemImg">
                        <img src="images/wallp2.jpg">
                    </div>
                </div>
                <div class="cartListItem_infoCol">
                    <div class="cartListItem_productTitle">
                        <a href="/progucts" class="cartListItem_name">
                            PRODUCT NAME
                        </a>
                        <span class="cartListItem_remove">
                            <i class="fal fa-times"></i>
                        </span>
                    </div>
                    <p class="cartListItem_size">
                        SIZE: S
                    </p>
                    <p class="cartListItem_color">
                        COLOR: RED
                    </p>
                    <div class="cartListItem_quantity">
                        QUATITY: 1
                        <span class="cartListItem_quantityPlus">
                            <i class="fal fa-plus"></i>
                        </span>
                        <span class="cartListItem_quantityMinus">
                            <i class="fal fa-minus"></i>
                        </span>
                    </div>
                </div>
                <div class="cartListItem_priceCol">
                    120&#8380;
                </div>
            </div>
            <div class="cartListItem">
                <div class="cartListItem_imgCol">
                    <div class="cartListItemImg">
                        <img src="images/wallp2.jpg">
                    </div>
                </div>
                <div class="cartListItem_infoCol">
                    <div class="cartListItem_productTitle">
                        <a href="/progucts" class="cartListItem_name">
                            PRODUCT NAME
                        </a>
                        <span class="cartListItem_remove">
                            <i class="fal fa-times"></i>
                        </span>
                    </div>
                    <p class="cartListItem_size">
                        SIZE: S
                    </p>
                    <p class="cartListItem_color">
                        COLOR: RED
                    </p>
                    <div class="cartListItem_quantity">
                        QUATITY: 1
                        <span class="cartListItem_quantityPlus">
                            <i class="fal fa-plus"></i>
                        </span>
                        <span class="cartListItem_quantityMinus">
                            <i class="fal fa-minus"></i>
                        </span>
                    </div>
                </div>
                <div class="cartListItem_priceCol">
                    120&#8380;
                </div>
            </div>
        </div>

    </div>
    <div class="cartFooter">
        <div class="cartFooterPrice">
            TOTAL: 120&#8380;
        </div>
        <a href="/order" class="cartFooterOrderButton btnPrimary btnPrimary__fullWidth">
            ORDER NOW
        </a>
    </div>
</div>