<div class='sidebarBackground'>
</div>
<div class="sidebarContent">
    <div class="sidebarContentHeaderLogo">
        <a href="/"><img class='sidebarContentHeaderLogo_img' src="images/logo.png"></a>
    </div>

    <menu class='sidebarContentMenu'>
        <li class="sidebarContentMenu_item<%= (page == 'women') ? '__active' : '' %>"><a href="/women">WOMEN</a></li>
        <li class="sidebarContentMenu_item<%= (page == 'about') ? '__active' : '' %>"><a href='/about'>ABOUT</a></li>
        <li class="sidebarContentMenu_item__red"><a href='/sale'>SALE</a></li>
    </menu>
    <div class="womenContent">
        <div class="btnPrimary">
            EXPLORE WOMEN
        </div>
        <div class="womenContentMenu">
            
        </div>
    </div>
</div>