<div class='sidebarBackground'>
</div>
<div class="sidebarContent">
    <div class="sidebarContentHeader">
        <div class="sidebarCloseBtn">
            <span class="menuButton">
                    <i class="fal fa-arrow-left"></i>
            </span>
        </div>
        <div class="sidebarContentHeaderCol">
            <a href="/">
                <img class='sidebarContentHeaderImg' src="images/logo.png">
            </a>
        </div>
        <div class="sidebarContentHeaderCol"></div>
    </div>
    <menu class='sidebarContentMenu'>
        <li class="sidebarContentMenu_item<%= (page == 'women') ? '__active' : '' %>"><a>WOMEN</a></li>
        <li class="sidebarContentMenu_item<%= (page == 'about') ? '__active' : '' %>"><a href='/about'>ABOUT</a></li>
        <li class="sidebarContentMenu_item__red"><a href='/sale'>SALE</a></li>
    </menu>
    <div class="womenContent">
        <div class="btnSecondary">
            BOOK
        </div>
        <div class="sidebarContentSubMenuWrapper">
            <div class="sidebarContentSubMenu">
                <li><a href="/collections/women-rent">RENT</a></li>
                <li><a href="/collections/women-new">NEW STYLES</a></li>
                <li><a href="/collections/women-jackets">JACKETS & VESTS</a></li>
                <li><a href="/collections/women-sweaters">SWEATERS & SWEATSHIRTS</a></li>
                <li><a href="/collections/women-shirts">SHIRTS</a></li>
                <li><a href="/collections/women-pants">PANTS</a></li>
            </div>
            <div class="sidebarContentSubMenu">
                <li><a href="/collections/women-boots">BOOTS</a></li>
                <li><a href="/collections/women-baselayers">BASE LAYERS</a></li>
                <li><a href="/collections/women-shorts">SHORTS</a></li>
                <li><a href="/collections/women-accessories">ACCESSORIES</a></li>
                <li><a href="/collections/women-bags">BAGS</a></li>
                <li><a href="/collections/women-gear">GEAR</a></li>
            </div>
        </div>
    </div>
    <div class="sidebarContentCollectionsWrapper">
        <div class="sidebarContentCollections_header">
            COLLECTIONS
        </div>
        <div class="sidebarContentCollections">
            <div class="sidebarContentCollections_item">
                <img src="images/wallpaper.jpg">
                <p>Item</p>
            </div>
            <div class="sidebarContentCollections_item">
                <img src="images/wallpaper2.jpg">
                <p>Item</p>
            </div>
            <div class="sidebarContentCollections_item">
                <img src="images/wallpaper3.jpg">
                <p>Item</p>
            </div>
            <div class="sidebarContentCollections_item">
                <img src="images/wallpaper2.jpg">
                <p>Item</p>
            </div>
            <div class="sidebarContentCollections_item">
                <img src="images/wallpaper3.jpg">
                <p>Item</p>
            </div>
        </div>
    </div>
    <div class="sidebarFooter">
        <div class="sidebarFooterMenu">
            <a href="/sizeguide">SIZE GUIDE</a>
            <a href="/return">RETURN</a>
            <a href="/careers">CAREERS</a>
        </div>
        <div class="sidebarFooterSocial">
            <a href="https://instagram.com/epona.official">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://instagram.com/epona.official">
                <i class="fab fa-facebook-f"></i>
            </a>
        </div>
    </div>
</div>