@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans|Poppins&display=swap');

/* Color scheme https://colorhunt.co/palette/22272 */
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    background-color: #f9f7f7;
    height: 100%;
    overflow: hidden;
}

input,
select,
textarea {
    outline: none;
}

a {
    text-decoration: none;
}

header {
    width: calc(100% - 20px);
    background-color: #fff;
    padding: 20px 10px;
    display: flex;
    position: relative;
}

.search_input {
    border: none;
    background-color: #ecf0f1;
    border-radius: 5px 0 0 5px;
    padding: 10px 15px;
    width: 240px;
}

.admin_search_icon {
    cursor: pointer;
    color: white;
    padding: 10px 25px;
    background-color: #3498db;
    border-radius: 0 15px 15px 0;
}

.admin_search {
    /* width: 100%; */
    height: 40px;
    display: flex;
    float: left;
}

.adminWrapper {
    display: flex;
    min-height: 100%;
}

.sidebarLogo {
    color: white;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebarLogo img {
    width: 30px;
}

.adminSidebar {
    width: 100px;
    background-color: #3f72af;
    color: #fff;
}

.sidebarContent {
    margin-top: 20px;
}

.sidebarMenuItemAnchor{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    color: #fff;
    transition: background .4s;
    padding: 20px 0;
}
.sidebarMenuItem{
    position: relative;
}
.sidebarDropdownMenu{
    position: absolute;
    left: 100px;
    top: -9999px;
    color: #fff;
    background-color: #3f72af;
    z-index: 2;
    transition: opacity .5s;
    opacity: 0;
    width: 150px;
}
.sidebarDropdownMenuItem{
    display: block;
    padding: 10px 20px;
    text-align: center;
}
#orderChart{
    margin-top: 20px;
}

.sidebarMenuItem:hover > .sidebarDropdownMenu{
    top: 0;
    opacity: 1;
}

.sidebarDropdownMenuItem{
    color: #fff;
}
.sidebarMenuItem a:hover {
    background-color: #3a69a1;
}

.sidebarMenuItemTitle {
    margin-top: 5px;
    font-size: 13px;
}

.adminContent {
    width: calc(100% - 100px);
    position: fixed;
    margin-left: 100px;
    overflow: scroll;
    height: 100%;
}

.mainContent {
    width: calc(100% - 20px);
    padding: 0 10px;
}

.dashboardWidgetWrapper {
    flex: 1;
}

.admin_logo {
    padding: 0 0 5px 0;
    /* transform: rotate(15deg); */
    /* background-color: red; */
    color: white;
    /* height: 73px; */
    /* z-index: 2; */
    /* margin-right: 40px; */
    /* width: 92%; */
    font-size: 2.5em;
    border-bottom: 1px solid white;
}

.admin_icon {
    margin-top: 15px;
    color: white;
    font-size: 3em;
    padding: 0 0 5px 0;
}

.admin_button,
.page_title_text {
    text-decoration: none;
    opacity: .4;
    color: white;
    font-size: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.page_title_text {
    margin-top: 15px;
    font-family: monospace;
    font-weight: bold;
}

.content {
    padding: .2% 0;
}

.admin_button:hover {
    opacity: 1;
    transition: 500ms all;
}

.admin_notification_icon {
    color: #bdc3c7;
    font-size: 1.5em;
    position: absolute;
    right: 110px;
}

.admin_message_icon {
    color: #bdc3c7;
    font-size: 1.4em;
    position: absolute;
    right: 150px;
}

.admin_logo_icon {
    color: black;
    font-size: 1.8em;
    position: absolute;
    right: 20px;
}

.page_bar {
    position: absolute;
    top: 45px;
    left: 0;
    background-color: #3498db;
    color: white;
    padding: 1% 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 0 15px 15px 0;
}

.page_bar a {
    text-decoration: none;
    transition: 600ms all;
    padding: 3% 10%;
    cursor: pointer;
}

.page_bar a:hover {
    background-color: #2980b9;
}

.content {
    position: relative;
    float: left;
    width: 92.8%;
}

.welcome_text {
    padding-left: 30px;
    margin-top: 1%;
    font-size: 2em;
    font-family: arial, cursive;
}

.dashboardWrapper {
    display: flex;
    flex-direction: column;
}

.dashboardRow {
    display: flex;
    width: calc(100% - 40px);
    padding: 20px;
    justify-content: space-between;
}

.dashboardRowCol {
    flex-basis: 49.5%;
    display: flex;
    flex-direction: column;
}

.dashboardWidget {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    color: #112d4e;
    flex: 1;
    box-shadow: 0 8px 30px -10px rgba(150, 170, 180, 0.5);
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.dashboardWidgetHeader {
    padding: 10px 15px;
    background-color: #f9f7f7;
    font-weight: 600;
    font-size: 19px;
    border-radius: 5px 5px 0 0;
}

.dashboardWidgetContent {
    padding: 10px 15px;
}

.dashboardWidgetFooter {
    display: flex;
    justify-content: flex-end;
    padding: 10px 15px;
}

.dashboardRequests {
    flex: 1;
}

.dashboardTableHeader {
    display: flex;
    padding: 0 10px;
    text-align: center;
}

.dashboardTableHeaderItem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-weight: 600;
    font-size: 14px;
}
.dashboardTableContentItemWrapper {
    font-size: 14px;
    display: flex;
    padding: 10px;
}

.dashboardTableContentItemWrapper:nth-child(2n) {
    background-color: #f9f7f7;
}

.dashboardTableContentItem {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.priceCurrencySymbol {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12px;
    height: 10px;
    margin-left: 5px;
}

.priceCurrencySymbol img{
    width: 100%;
    height: 100%;
}
.dashboardTableHeaderItem__orderNumber,
.dashboardTableContentItem__orderNumber{
    flex: .1;
    margin-right: 10px;
    justify-content: center;
}
.dashboardTableContentItem__payMethodCash{
    color: #228d57;
}
.orderAction{
    cursor: pointer;
    margin: 0 10px;
}
.orderAction__remove{
    color: #C70000;
}
.orderAction__check{
    color: #46C855;
}
.paginationWrapper{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 10px 0;
}
.paginationItem a{
    padding: 5px 10px;
    border: 1px solid #ecebeb;
    color: #112d4e;
    background-color: #f9f7f7;
    border-right: none;
}
.paginationItem:last-child a{
    border-right: 1px solid #ecebeb;
    border-radius: 0 2px 2px 0;
}
.paginationItem:first-child a{
    border-radius: 2px 0 0 2px;
}
.categoriesTableImage{
    width: 50px;
}
.primaryBtn{
    display: block;
    background-color: #3f72af;
    color: #fff;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 13px;
    margin: 10px 0;
    float: right;
    text-align: center;

}
.categoryAddForm p{
    padding: 5px 0;
    width: 100%;
    float: left;
}
#categoryImgInput,
#categoryNewSbmt{
    display: none;
}

.uploadBtn{
    display: block;
    padding: 5px 20px;
    background-color: #f9f7f7;
    border: 1px solid #ecebeb;
    text-align: center;
    float: left;
    cursor: pointer;
}
.categoryAddForm input,
textarea{
    font-size: 15px;
    width: calc(100% - 10px);
    padding: 5px 5px;
}
option{
    padding: 5px 0;
    font-size: 15px;
}