@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif;
    outline: none;
}

.container {
    padding: 0 30px;
}
body{
    /* padding: 0 15%; */
}
body,
html {
    /* padding: 0 10%; */
    height: 100%;
}
a {
    text-decoration: none;
    color: #000;
}
li {
    list-style-type: none;
}
textarea, 
input {
    -webkit-appearance: none;
}
.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}
header{
    /* border-bottom: 1px gray solid; */
    position: fixed;
    width: 96%;
    background-color: white;
    z-index: 2;
    display: flex;
    padding: 15px 2%;
    align-items: center;
    justify-content: center;
}
/* .mainContent{
    background-color: #f5f6fa;
} */
#menuButton{
    width: 23px;
    height: 23px;
    cursor: pointer;
}
header .headerUserLinks_item svg{
    width: 100% !important;
    height: 100%;
}
.headerCol{
    display: flex;
    align-items: center;
    flex: 1;
    position: relative;
    width: 100%;
}
.searchWrapper input{
    border: none;
}
.headerUserLinks{
    justify-content: flex-end;
}
.headerUserLinks_item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
    transition: opacity .5s;
}

.headerUserLinks_item:hover{
    opacity: .5;
}
.headerLogo a{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 100%;
}
.headerLogo_img{
    width: 100px;
    position: absolute;
    top: -13px;
} 

footer {
    width: 80%;
    background-color: black;
    color: white;
    padding: 2% 10% 8%;
    text-align: center;
}


menu li {
    font-family: 'Raleway', sans-serif;
    display: inline;
    list-style: none;
    padding: 3% 4%;
}
.sidebarCloseBtn{
    height: 100%;
    font-size: 25px;
    flex: 1;
    padding-left: 20px;
}
.sidebarCloseBtn svg{
    cursor: pointer;
}
.sidebarContentMenu a {
    color: #bdbdbd;
    cursor: pointer;
}
.sidebarContentMenu a:hover{
    opacity: .4;
    transition: opacity .7s;
}
.sidebarContentMenu{
    width: 100%;
    display: flex;
    justify-content: center;
}
.sidebarContentMenu_item__active a {
    color: #000;
    border-bottom: 1px solid;
    padding: 2px 0;
}
.sidebarContentMenu_item__active a:hover{
    opacity: 1;
    transition: none;
}
.sidebarContentMenu_item__red a{
    color: #d60000;
}
.sidebarContentMenu_item__red a:hover{
    transition: none;
    opacity: 1;
}
.womenContent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.sidebarContentSubMenuWrapper{
    margin-top: 20px;
    display: flex;
    width: 40%;
    justify-content: center;
}
.sidebarContentSubMenu li{
    display: block;
    padding: 12px 20px;
    text-align: center;
}
.sidebarContentCollectionsWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebarContentCollections_header{
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    margin-top: 20px;
}
.sidebarContentCollections{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin-top: 20px;
}
.sidebarContentCollections_item{
    flex-basis: calc(33.33% - 30px);
    height: 150px;
    margin: 0 15px 40px 15px;
    cursor: pointer;
    text-align: center;
}
.sidebarContentCollections_item img{
    width: 100%;
    height: 100%;
}
.sidebarFooter{
    text-align: center;
    padding: 20px 0;
}
.sidebarFooterMenu a{
    margin: 0 10px;
}
.sidebarFooterSocial{
    font-size: 17px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebarFooterSocial a{
    margin: 0 5px;
}
.about,
.sale {
    text-align: left;
}

.pageHeader {
    font-size: 30px;
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 2px solid;
}

.about_contactsHeader {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 600;
}

.about_companyName {
    font-size: 25px;
    margin-bottom: 10px;
}

.about_contacts {
    margin: 20px 0;
}

.about_contacts a {
    text-decoration: none;
    color: #54a0ff;
}

.about_contacts a:visited {
    color: #54a0ff;
}

.sidebarBackground,
.cartBackground {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 3;
}
.cartWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #fff;
    width: 35%;
    margin-right: calc(-35% - 2px);
    transition: all .5s;
    z-index: 4;
    border-left: 1px solid #ddd;
    overflow: hidden;
    height: 100%;
}
.cartContent{
    padding: 25px 10px 10px 10px;
    flex: 1;
    width: calc(100% - 20px);
    overflow: scroll;
}
.cartListItem{
    width: calc(100% - 20px);
    height: 110px;
    padding: 0 10px;
    display: flex;
    align-items: center;
}
.cartListItemImg{
    width: 80px;
    height: 80px;
}
.cartListItemImg img{
    width: 100%;
    height: 100%;
}
.cartListItem_productTitle{
    display: flex;
    justify-content: space-between;
}
.cartListItem_remove{
    color: #d60000;
    cursor: pointer;
}
.cartListItem_imgCol,
.cartListItem_priceCol{
    flex: 1;
}
.cartListItem_priceCol{
    display: flex;
    justify-content: center;
    align-items: center;
}
.priceCurrencySymbol{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12px;
    height: 10px;
}
.priceCurrencySymbol img{
    width: 100%;
    height: 100%;
}
.cartListItem_infoCol{
    flex: 2;
}
.cartListItem_quantityPlus,
.cartListItem_quantityMinus{
    cursor: pointer;
    color: #54a0ff;
}
.cartHeader{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.cartHeader_text{
    font-size: 18px;
}
.cartButton__size{
    cursor: pointer;
    margin-right: 10px;
    font-size: 25px;
}
.cartButtonCount{
    display: block;
    margin-left: -4px;
}
.cartFooterPrice{
    font-size: 13px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cartFooter{
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px 50px 10px;
    border-top: 1px solid #ddd;
}
.btnPrimary__fullWidth{
    width: calc(100% - 82px);
    text-align: center;
}
.sidebarContent{
    transition: all .5s;
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    margin-left: calc(-60% - 2px);
    height: 100%;
    background-color: #ffffff;
    border-right: 1px solid #ddd;
    overflow: scroll;
}

.sidebarContentHeader{
    padding: 20px 0 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.sidebarContentHeaderCol,
.cartHeader_column{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cartHeader_button{
    justify-content: flex-end;
}
.sidebarContentHeaderImg{
    width: 100px;
    height: 42px;
}
.log_button {
    border: solid 1px #ddd;
    padding: 3% 4%;
    background-color: white;
    margin-top: 5%;
}

.ex_button {
    border: solid 1px #ddd;
    padding: 3% 5%;
    background-color: #54a0ff;
    margin-top: 5%;
}

.log_button:hover {
    color: white;
    background-color: black;
    transition: 800ms all;
    cursor: pointer;
}

li a:hover {
    opacity: .5;
    transition: 700ms all;
}

.test {
    flex: 3;
}

.test1 {
    flex: 3;
}

.test2 {
    float: right;
    flex: 1;
}
/* home php */
.home_text1 {
    font-family: 'Raleway', sans-serif;
    font-weight: none;
    font-size: 20px;
}

.home_text2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: none;
    font-size: 20px;
}

.home_text3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 12px;
    padding: 4% 19%;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_box {
    flex: 1
}

.buy:hover {
    background-color: black;
    color: white;
}

.shop_button {
    background-color: white;
}

.shop_button:hover {
    background-color: black;
    color: white;
    transition: 600ms all;
}

.main_page_flex_wrapper {
    display: flex;
    height: 500px;
}

.main_page_flex_container {
    padding: 0 2%;
    flex-basis: 46%;
    max-height: 100%;
}

.main_page_flex_container img {
    width: 100%;
    height: 100%;
}

.sidebar_flex_wrapper {
    display: flex;
    height: 200px;
}

.sidebar_flex_container {
    padding: 0 1%;
    flex-basis: 48%;
    max-height: 100%;
}

.sidebar_flex_container img {
    width: 100%;
    height: 100%;
}
.mainContent{
    display: none;
    padding: 3% 15% 0 15%;
    margin-top: 25px;
    width:  70%;
    height: calc(100% - 40px);
}
.mainContent_text{
    text-align: center;
    margin-top: 90px;
}
.mainContent_text2{
    text-align: center;
    width: 30%;
    margin-top: 30px;
    margin-bottom: 15px;
}
.mainContent_button{
    margin-top: 15px;
    border: black 1px solid;
    background-color: white;
    transition: 500ms all;
    padding: .6% 5%;
}
.mainContent_button:hover{
    background-color: black;
}
.mainContent_textdiv{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.mainContent_mainImage{
    text-align: center;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    background-image: url("../images/happy.jpg") ;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;  
    color: #fff;
    /* font-weight: 400; */
    font-size: 30px;
    transition: opacity .6s;
    text-shadow: 0 0 15px #000;
}
.mainContent_image_divMan{
    margin-top: 45px;
    height: 600px;
    display: flex;
    flex-direction: row;
}
.image_div2{
    padding: 0 1% 1% 1%;
    width: 96%;
}
.mainContent_imageCont_div{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.mainContent_image_div3{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;


}
.image_div{padding: 1%; width: 100%;}
.mainContent_mainImage_man , .mainContent_mainImage_woman , .mainContent_mainImage_ep , .mainContent_mainImage_ep2 , .mainContent_mainImage_ep3 , .mainContent_mainImage_ep4 , .mainContent_mainImage_ep5{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    height: 100%;

    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;  
    color: #fff;
    font-weight: 600;
    font-size: 35px;
    transition: opacity .6s;
    text-shadow: 0 0 15px #000;
}
.mainContent_mainImage_man:hover , .mainContent_mainImage_woman:hover , .mainContent_mainImage_ep:hover , .mainContent_mainImage_ep2:hover , .mainContent_mainImage_ep3:hover , .mainContent_mainImageCont:hover , .mainContent_mainImage_ep5:hover , .mainContent_mainImage_ep4:hover{ 
    opacity: .3;
}
.mainContent_mainImage_man{    background-image: url("../images/wallpaper.jpg") ;}
.mainContent_mainImage_woman{    background-image: url("../images/wallpaper11.jpg") ;}
.mainContent_mainImage_ep{ background-image: url("../images/eponaimg1.jpg") ;}
.mainContent_mainImage_ep2{ background-image: url("../images/eponaimg2.jpg") ;}
.mainContent_mainImage_ep3{ background-image: url("../images/eponaimg3.jpg") ; width: 98%;margin-bottom: 0; margin-top:125px;}
.mainContent_mainImage_ep4{ background-image: url("../images/eponaimg4.jpg") ;margin-top: 52px;}
.mainContent_mainImage_ep5{ background-image: url("../images/eponaimg5.jpg") ;margin-top: 52px;}
.main_content_image_text{font-size: 25px;font-weight: 150;}
.mainContent_mainImageCont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    width: 70%;
    
    height: 98%;
    background-image: url("../images/contimg.jpg") ;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;  
    color: #fff;
    font-weight: 600;
    font-size: 35px;
    transition: opacity .6s;
    text-shadow: 0 0 15px #000;
}

.mainContent_mainImage:hover{
    opacity: .7;
}

/* Page Login */
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;

}


.login_username,
.login_password {
    padding:  10px 5px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #bdbdbd;
}

.login_headtext {
    font-family: 'Open Sans', sans-serif;
}
.login_username_text,
.login_password_text {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

.login_forgpass {
    width: 100%;
    text-decoration: none;
    font-size: 13px;
    color: gray;
    font-family: 'Open Sans', sans-serif;
}

.log_content {
    margin-top: 5%;
    border: solid 1px;
    padding: 40px 120px;
    width: 28%;
    text-align: center;
}
.errorText{
    color: red;
}
.registerError{
    padding: 10px 0;
}
#loginSbmt,
#registerSbm{
    display: none;
}
.btnPrimary{
    padding: 10px 40px;
    border: solid #fff 1px;
    background: #000;
    cursor: pointer;
    color: #fff;
    transition: 600ms all;
}
.btnSecondary{
    padding: 10px 40px;
    border: solid black 1px;
    background: white;
    cursor: pointer;
    transition: 600ms all;
}
.loginButtonsWrapper{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.btnSecondary:hover{
    border-color: #fff;
    background: #000;
    color: #fff;
}
.btnPrimary:hover{
    background: #fff;
    border-color: #000;
    color: #000;
}

  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /*  */
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    /* CSS */

  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    .headerLogo_img{
        width: 100px;
        top: -14px;
    }
    /* #menuButton{
        width: 15px;
        height: 15px;
    } */
    .headerUserLinks_item{
        width: 13px;
        height: 13px;
        padding: 5px;
    }
    .cartButtonCount{
        font-size: 10px;
        margin: 0;
    }
    .sidebarContent{
        width: 100%;
        margin-left: calc(-100% - 2px);
    }
    .sidebarContentSubMenuWrapper{
        width: 85%;
        font-size: 12px;
    }
    .sidebarContentCollections{
        width: 85%;
    }
    .sidebarContentCollections_item{
        flex-basis: calc(50% - 30px);
    }
    .cartWrapper{
        width: 100%;
        margin-right: calc(-100% - 2px);
    }
    
    .log_content{
        padding: 40px 10px;
        width: calc(100% - 20px);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .login_form{
        width: 90%;
    }
    .btnSecondary,
    .btnPrimary{
        padding: 8px 32px;
    }
  }