@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    outline: none;
}

.container {
    padding: 0 30px;
}

body,
html {
    /* padding: 0 10%; */
    height: 100%;
}
a {
    text-decoration: none;
    color: #000;
}
li {
    list-style-type: none;
}
.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    padding: 15px 20px;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
}
#menuButton{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.headerUserLinks_item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
}
header .headerUserLinks_item svg{
    width: 100% !important;
    height: 100%;
}
.headerCol{
    display: flex;
    align-items: center;
    flex: 1;
    position: relative;
    width: 100%;
}
.headerUserLinks{
    justify-content: flex-end;
}
.headerUserLinks_item{
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 15px;
    transition: opacity .5s;
}

.headerUserLinks_item:hover{
    opacity: .5;
}
.headerLogo a{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 100%;
}
.headerLogo_img{
    width: 150px;
    position: absolute;
    top: -20px;
} 

footer {
    width: 80%;
    background-color: black;
    color: white;
    padding: 2% 10% 8%;
    text-align: center;
}

.center menu {
    list-style: none;
    padding: 1% 4%;
    margin-bottom: 5%;

}

/* #img , #img1 , #img2 {
    opacity: 1;
} */
/* img:hover{opacity: .4;transition: 600ms all;} */

menu li {
    font-family: 'Raleway', sans-serif;
    display: inline;
    list-style: none;
    padding: 3% 4%;
}
.sidebarContentMenu a {
    color: #bdbdbd;
    cursor: pointer;
}
.sidebarContentMenu a:hover{
    opacity: .4;
    transition: opacity .7s;
}
.sidebarContentMenu{
    width: 100%;
    display: flex;
    justify-content: center;
}
.sidebarContentMenu_item__active a {
    color: #000;
    border-bottom: 1px solid;
    padding: 2px 0;
}
.sidebarContentMenu_item__active a:hover{
    opacity: 1;
    transition: none;
}
.sidebarContentMenu_item__red a{
    color: #d60000;
}
.sidebarContentMenu_item__red a:hover{
    transition: none;
    opacity: 1;
}
.womenContent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.sidebarContentSubMenuWrapper{
    margin-top: 20px;
    display: flex;
    width: 40%;
    justify-content: center;
}
.sidebarContentSubMenu li{
    display: block;
    padding: 12px 20px;
    text-align: center;
}
.sidebarContentCollectionsWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebarContentCollections_header{
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    margin-top: 20px;
}
.sidebarContentCollections{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin-top: 20px;
}
.sidebarContentCollections_item{
    flex-basis: calc(33.33% - 30px);
    height: 150px;
    margin: 0 15px 40px 15px;
    cursor: pointer;
    text-align: center;
}
.sidebarContentCollections_item img{
    width: 100%;
    height: 100%;
}
.sidebarFooter{
    text-align: center;
    padding: 20px 0;
}
.sidebarFooterMenu a{
    margin: 0 10px;
}
.sidebarFooterSocial{
    font-size: 17px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebarFooterSocial a{
    margin: 0 5px;
}
.about,
.sale {
    text-align: left;
}

.pageHeader {
    font-size: 30px;
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 2px solid;
}

.about_contactsHeader {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 600;
}

.about_companyName {
    font-size: 25px;
    margin-bottom: 10px;
}

.about_contacts {
    margin: 20px 0;
}

.about_contacts a {
    text-decoration: none;
    color: #54a0ff;
}

.about_contacts a:visited {
    color: #54a0ff;
}

.sidebarBackground {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 3;
}
.sidebarContent{
    transition: all .5s;
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    margin-left: calc(-60% - 2px);
    height: 100%;
    background-color: #ffffff;
    border-right: 1px solid silver;
    overflow: scroll;
}

.sidebarContentHeader_logo{
    padding: 20px 0 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.sidebarContentHeader_logoImg{
    width: 100px;
    height: 42px;
}
.log_button {
    border: solid 1px silver;
    padding: 3% 4%;
    background-color: white;
    margin-top: 5%;
}

.ex_button {
    border: solid 1px silver;
    padding: 3% 5%;
    background-color: #54a0ff;
    margin-top: 5%;
}

.log_button:hover {
    color: white;
    background-color: black;
    transition: 800ms all;
    cursor: pointer;
}

li a:hover {
    opacity: .5;
    transition: 700ms all;
}

.center img {
    cursor: pointer;
}

.test {
    flex: 3;
}

.test1 {
    flex: 3;
}

.test2 {
    float: right;
    flex: 1;
}

.center {

    padding: 2% 20%;
}

/* home php */
.home_text1 {
    font-family: 'Raleway', sans-serif;
    font-weight: none;
    font-size: 20px;
}

.home_text2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: none;
    font-size: 20px;
}

.home_text3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 12px;
    padding: 4% 19%;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_box {
    flex: 1
}

.buy:hover {
    background-color: black;
    color: white;
}

.shop_button {
    background-color: white;
}

.shop_button:hover {
    background-color: black;
    color: white;
    transition: 600ms all;
}

.main_page_flex_wrapper {
    display: flex;
    height: 500px;
}

.main_page_flex_container {
    padding: 0 2%;
    flex-basis: 46%;
    max-height: 100%;
}

.main_page_flex_container img {
    width: 100%;
    height: 100%;
}

.sidebar_flex_wrapper {
    display: flex;
    height: 200px;
}

.sidebar_flex_container {
    padding: 0 1%;
    flex-basis: 48%;
    max-height: 100%;
}

.sidebar_flex_container img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 700px) {
    .home_text1 {
        font-size: 10px;
    }

    .wallpaper1 {
        width: 200px;
    }

    .center {
        padding: 2% 0;
    }

    header .profile_icon {
        float: right;
        padding: 3%;
        width: 14px;
    }

    header .user_icon {
        float: right;
        padding: 3%;
        width: 16px;
    }

    .test2 {
        flex: 2
    }

    .test1 {
        flex: 1;
    }

    #menu {
        width: 20px
    }
}

@media screen and (min-width: 700px) and (max-width:1400px) {
    .home_text1 {
        font-size: 13px;

    }

    header .profile_icon {
        width: 16px;
    }

    header .user_icon {
        width: 16px;
        padding: 3% 10% 3% 4%;
    }

    .wallpaper1 {
        width: 300px;
    }

    .center {
        padding: 2% 0;
    }
}

/* Page Login */
.login {
    display: flex;
    flex-direction: column;

    /* justify-content: center; */
    align-items: center;
    margin-bottom: 10%;

}


.login_username,
.login_password {
    padding:  10px 0;
    width: 100%;
    margin-bottom: 20px;
}

.login_headtext {
    text-align: center;
    margin: 20px;
    font-family: 'Open Sans', sans-serif;
}

.login_username_div,
.login_paswword_div {
    width: 100%;
}

.login_username_text,
.login_password_text {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

.login_forgpass {
    width: 100%;
    text-decoration: none;
    font-size: 13px;
    color: gray;
    font-family: 'Open Sans', sans-serif;
}

.log_content {
    margin-top: 5%;
    border: solid 1px;
    padding: 12px 120px 40px 120px;
    width: 40%;
    text-align: center;
}
.btnPrimary{
    padding: 10px 40px;
    border: solid black 1px;
    background: white;
    cursor: pointer;
    color: #000;
}
.login_sub{
    padding: 10px 40px;
    border: solid black 1px;
    background: white;
    cursor: pointer;
    margin-top: 5%;
}

.login_sub:hover,
.btnPrimary:hover {
    transition: 600ms all;
    background: black;
    color: white;
}