@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    outline: none;
}

.container {
    padding: 0 30px;
}

body,
html {
    /* padding: 0 10%; */
    height: 100%;
}
a {
    text-decoration: none;
    color: #000;
}
li {
    list-style-type: none;
}
textarea, 
input {
    -webkit-appearance: none;
}
.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    padding: 15px 20px;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
}
#menuButton{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.headerUserLinks_item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
}
header .headerUserLinks_item svg{
    width: 100% !important;
    height: 100%;
}
.headerCol{
    display: flex;
    align-items: center;
    flex: 1;
    position: relative;
    width: 100%;
}
.searchWrapper input{
    border: none;
}
.headerUserLinks{
    justify-content: flex-end;
}
.headerUserLinks_item{
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 15px;
    transition: opacity .5s;
}

.headerUserLinks_item:hover{
    opacity: .5;
}
.headerLogo a{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 100%;
}
.headerLogo_img{
    width: 150px;
    position: absolute;
    top: -20px;
} 

footer {
    width: 80%;
    background-color: black;
    color: white;
    padding: 2% 10% 8%;
    text-align: center;
}


menu li {
    font-family: 'Raleway', sans-serif;
    display: inline;
    list-style: none;
    padding: 3% 4%;
}
.sidebarCloseBtn{
    height: 100%;
    font-size: 28px;
    flex: 1;
    padding-left: 20px;
}
.sidebarCloseBtn svg{
    cursor: pointer;
}
.sidebarContentMenu a {
    color: #bdbdbd;
    cursor: pointer;
}
.sidebarContentMenu a:hover{
    opacity: .4;
    transition: opacity .7s;
}
.sidebarContentMenu{
    width: 100%;
    display: flex;
    justify-content: center;
}
.sidebarContentMenu_item__active a {
    color: #000;
    border-bottom: 1px solid;
    padding: 2px 0;
}
.sidebarContentMenu_item__active a:hover{
    opacity: 1;
    transition: none;
}
.sidebarContentMenu_item__red a{
    color: #d60000;
}
.sidebarContentMenu_item__red a:hover{
    transition: none;
    opacity: 1;
}
.womenContent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.sidebarContentSubMenuWrapper{
    margin-top: 20px;
    display: flex;
    width: 40%;
    justify-content: center;
}
.sidebarContentSubMenu li{
    display: block;
    padding: 12px 20px;
    text-align: center;
}
.sidebarContentCollectionsWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebarContentCollections_header{
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    margin-top: 20px;
}
.sidebarContentCollections{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin-top: 20px;
}
.sidebarContentCollections_item{
    flex-basis: calc(33.33% - 30px);
    height: 150px;
    margin: 0 15px 40px 15px;
    cursor: pointer;
    text-align: center;
}
.sidebarContentCollections_item img{
    width: 100%;
    height: 100%;
}
.sidebarFooter{
    text-align: center;
    padding: 20px 0;
}
.sidebarFooterMenu a{
    margin: 0 10px;
}
.sidebarFooterSocial{
    font-size: 17px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebarFooterSocial a{
    margin: 0 5px;
}
.about,
.sale {
    text-align: left;
}

.pageHeader {
    font-size: 30px;
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 2px solid;
}

.about_contactsHeader {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 600;
}

.about_companyName {
    font-size: 25px;
    margin-bottom: 10px;
}

.about_contacts {
    margin: 20px 0;
}

.about_contacts a {
    text-decoration: none;
    color: #54a0ff;
}

.about_contacts a:visited {
    color: #54a0ff;
}

.sidebarBackground,
.cartBackground {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 3;
}
.cartWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #fff;
    width: 35%;
    margin-right: calc(-35% - 2px);
    transition: all .5s;
    z-index: 4;
    border-left: 1px solid #ddd;
    overflow: hidden;
    height: 100%;
}
.cartContent{
    padding: 25px 10px 10px 10px;
    flex: 1;
    width: calc(100% - 20px);
    overflow: scroll;
}
.cartListItem{
    width: calc(100% - 20px);
    height: 110px;
    padding: 0 10px;
    display: flex;
    align-items: center;
}
.cartListItemImg{
    width: 80px;
    height: 80px;
}
.cartListItemImg img{
    width: 100%;
    height: 100%;
}
.cartListItem_productTitle{
    display: flex;
    justify-content: space-between;
}
.cartListItem_remove{
    color: #d60000;
    cursor: pointer;
}
.cartListItem_imgCol,
.cartListItem_priceCol{
    flex: 1;
}
.cartListItem_priceCol{
    text-align: center;
}
.cartListItem_infoCol{
    flex: 2;
}
.cartListItem_quantityPlus,
.cartListItem_quantityMinus{
    cursor: pointer;
    color: #54a0ff;
}
.cartHeader{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.cartHeader_text{
    font-size: 15px;
}
.cartButton__size{
    cursor: pointer;
    margin-right: 10px;
    font-size: 16px;
}
.cartButtonCount{
    display: block;
    margin-left: -4px;
    font-size: 12px;
}
.cartFooterPrice{
    font-size: 13px;
    margin-bottom: 20px;
}
.cartFooter{
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px 50px 10px;
    border-top: 1px solid #ddd;
}
.btnPrimary__fullWidth{
    width: calc(100% - 82px);
    text-align: center;
}
.sidebarContent{
    transition: all .5s;
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    margin-left: calc(-60% - 2px);
    height: 100%;
    background-color: #ffffff;
    border-right: 1px solid #ddd;
    overflow: scroll;
}

.sidebarContentHeader{
    padding: 20px 0 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.sidebarContentHeaderCol,
.cartHeader_column{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cartHeader_button{
    justify-content: flex-end;
}
.sidebarContentHeaderImg{
    width: 100px;
    height: 42px;
}
.log_button {
    border: solid 1px #ddd;
    padding: 3% 4%;
    background-color: white;
    margin-top: 5%;
}

.ex_button {
    border: solid 1px #ddd;
    padding: 3% 5%;
    background-color: #54a0ff;
    margin-top: 5%;
}

.log_button:hover {
    color: white;
    background-color: black;
    transition: 800ms all;
    cursor: pointer;
}

li a:hover {
    opacity: .5;
    transition: 700ms all;
}

.test {
    flex: 3;
}

.test1 {
    flex: 3;
}

.test2 {
    float: right;
    flex: 1;
}
/* home php */
.home_text1 {
    font-family: 'Raleway', sans-serif;
    font-weight: none;
    font-size: 20px;
}

.home_text2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: none;
    font-size: 20px;
}

.home_text3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 12px;
    padding: 4% 19%;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_box {
    flex: 1
}

.buy:hover {
    background-color: black;
    color: white;
}

.shop_button {
    background-color: white;
}

.shop_button:hover {
    background-color: black;
    color: white;
    transition: 600ms all;
}

.main_page_flex_wrapper {
    display: flex;
    height: 500px;
}

.main_page_flex_container {
    padding: 0 2%;
    flex-basis: 46%;
    max-height: 100%;
}

.main_page_flex_container img {
    width: 100%;
    height: 100%;
}

.sidebar_flex_wrapper {
    display: flex;
    height: 200px;
}

.sidebar_flex_container {
    padding: 0 1%;
    flex-basis: 48%;
    max-height: 100%;
}

.sidebar_flex_container img {
    width: 100%;
    height: 100%;
}
.mainContent{
    margin-top: 25px;
    width: 100%;
    height: calc(100vh - 40px);
}
.mainContent_mainImage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url("../images/mainWallpaper.jpg") ;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;  
    color: #fff;
    font-weight: 600;
    font-size: 35px;
    transition: opacity .6s;
    text-shadow: 0 0 15px #000;
}
.mainContent_mainImage:hover{
    opacity: .7;
}

/* Page Login */
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;

}


.login_username,
.login_password {
    padding:  10px 5px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #bdbdbd;
}

.login_headtext {
    font-family: 'Open Sans', sans-serif;
}

.login_username_div,
.login_paswword_div {
    width: 100%;
}

.login_username_text,
.login_password_text {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

.login_forgpass {
    width: 100%;
    text-decoration: none;
    font-size: 13px;
    color: gray;
    font-family: 'Open Sans', sans-serif;
}

.log_content {
    margin-top: 5%;
    border: solid 1px;
    padding: 40px 120px;
    width: 28%;
    text-align: center;
}
.errorText{
    color: red;
}
.registerError{
    padding: 10px 0;
}
#loginSbmt,
#registerSbm{
    display: none;
}
.btnPrimary{
    padding: 10px 40px;
    border: solid #fff 1px;
    background: #000;
    cursor: pointer;
    color: #fff;
    transition: 600ms all;
}
.btnSecondary{
    padding: 10px 40px;
    border: solid black 1px;
    background: white;
    cursor: pointer;
    transition: 600ms all;
}
.loginButtonsWrapper{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.btnSecondary:hover{
    border-color: #fff;
    background: #000;
    color: #fff;
}
.btnPrimary:hover{
    background: #fff;
    border-color: #000;
    color: #000;
}

  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /*  */
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    /* CSS */
    
  }